#about {
    top: 10%;
    transform: translateX(-50%);
}

h1 {
    color: #4699D3;
    font-family: Bitwise, sans-serif;
    font-size: 80px;
    position: relative;
    //top: 0px;
    text-align: center;
}

p {
    color: #fff;
    display: block;
    font-family: Hermit, sans-serif;
    margin: 12px auto 0;
    // position: relative;
    text-align: center;
    width: 65%;
}
