#about {
    top: 5%;
    transform: translateX(-50%);

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 100px;
        text-align: left;
      }
      
      li {
        padding-left: 1em;
        text-indent: -1em;
    
      }
      
      li:before {
        content: ">";
        padding-right: 10px;
    }
}

h1 {
    color: #4699D3;
    font-family: Bitwise, sans-serif;
    font-size: 80px;
    position: relative;
    //top: 0px;
    text-align: center;
}

p {
    color: #fff;
    display: block;
    font-family: Hermit, sans-serif;
    margin: 12px auto 0;
    // position: relative;
    text-align: center;
    width: 65%;
}

.about-items {
    display: block;
    list-style-type: none;
    margin: auto;

    .question {
    	width: 280px;
    	margin: 0 auto;
        margin-top: 10px;
        display: block;

        span {
            font-size: 24px;
        }

        h2 {
            display: inline-block;
            font-family: Hermit, sans-serif;
            font-size: 36px;
            vertical-align: middle;
        }

        &:hover {
            color: #4699d3;
        }

        &.active {
            &.learnathon {
                color: #FFF600;
            }

            &.hackathon {
                color: #EC0E6A;
            }
        }
    }
}

.about-date {
	margin-top: 10px;
	margin-bottom: 5px;
    font-size: 20px;
}
