body {
    background: #222;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
}

.hidden {
    display: none;
}

#menu-button {
    color: #fff;
    font-family: Hermit, sans-serif;
    font-size: 24px;
    position: absolute;
    top: 16px;
    left: 16px;

    &:hover {
        color: #4699d3;
    }
}

@media only screen and (max-width: 760px) {
    .container {
        width: 90%;
    }
}
