body {
	background-color: #23233f;
	margin: 0;
}

.grid-bg {
	background-image: url('../assets/SVG/bpbkg2-01.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80vh;
	object-fit: fill;
}

#squares {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;

    .square {
        animation: float 4s infinite;
        height: 24px;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 24px;

        &.yellow {
            background: #fff600;
            opacity: 0.6;
        }

        &.blue {
            background: #5eebff;
            opacity: 0.68;
        }

        &.red {
            background: #f92e54;
            opacity: 0.41;
        }

        &.purple {
            background: #9600c0;
            opacity: 0.6;
        }
    }
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    transition: opacity .25s ease;
}

.hidden {
    display: none;
}

#menu-button {
    color: #fff;
    font-family: Hermit, sans-serif;
    font-size: 24px;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;

    &:hover {
        color: #4699d3;
    }
}

.page-title {
	color: $light_accent;
	font-size: 5em;
	font-family: Bitwise;
}

@keyframes float {
    from {
        margin-top: 0;
    }

    50% {
        margin-top: 32px;
    }

    to {
        margin-top: 0;
    }
}

@media only screen and (max-width: 760px) {
    .container {
        width: 90%;
    }
}


