.question {
    cursor: pointer;
    position: relative;
    font-family: Hermit, sans-serif;
    color: #fff;
    font-size: 20px;
    padding-bottom: 1pt;
    padding-top: 8px;

    &:hover {
        color: $main_yellow;
    }
}

.question span {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    transition: transform 0.2s ease-out;
}

.answer {
    color: #fff;
    font-family: Hermit, sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    padding-left: 1.1em;
}

#faq {
    top: 5%;
    transform: translateX(-50%);
}

.page-title {
    margin-bottom: 25px;
}
