.schedule-items {
    display: block;
    list-style-type: none;
    margin: auto;
    
    .question {
        color: #fff;
        cursor: pointer;
    	width: 280px;
    	margin: 0 auto;
    	margin-top: 10px;

        span {
            margin-right: 12px;
            font-size: 24px;
        }

        h2 {
            display: inline-block;
            font-family: Hermit, sans-serif;
            font-size: 36px;
            vertical-align: middle;
        }

        &:hover {
            color: #4699d3;
        }

        &.active {
            &.learnathon {
                color: #fff600;
            }

            &.hackathon {
                color: #ec0e6a;
            }
        }
    }
}

    
.schedule-table {
    margin: 0 auto;
    display: table;

    tr {
        td {
        	line-height: 18px;
            text-align: left;
        	font-family: Hermit, sans-serif;
            font-size: 15px;
            color: #fff;
			padding: 5px;
            &.schedule-time {
            	color: $main_yellow;
				a {
					margin-right: 30px;
				}
            }
            &:hover {
                h2 {
                    color: #4699d3;
                }
            }
        }
    }
}

#schedule {
	top: 10%;
    transform: translateX(-50%);
}


.schedule-date {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 17px;
    font-weight: bold;
}
